# Archivos de Dart y Flutter
.dart_tool/
.packages
.pub-cache/

# Archivos de IDEs
.idea/
.vscode/

# Archivos de OS
.DS_Store
*.swp

# Excepción para Render: incluir la carpeta web compilada
/build/*
!/build/web/